.3_2 { 
	overflow:hidden;
}
.e3_2 { 
	width:1024px;
	height:1440px;
	position:absolute;
}
.e3_16 { 
	width:1146px;
	height:1433px;
	position:absolute;
	left:-61px;
	top:4px;
	background-image:url(images/pexels_tobias_bj_rkli_1693095_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_10 { 
	width:894px;
	height:935px;
	position:absolute;
	left:65px;
	top:253px;
	background-image:url(images/ms_logo_01_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_11 { 
	color:rgba(255, 255, 255, 1);
	width:760px;
	height:188px;
	position:absolute;
	left:132px;
	top:626px;
	font-family:Connie;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}
.e3_4 { 
	box-shadow:6px 6px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(255, 76.50000303983688, 0, 1) 0%,rgba(255, 244.7999945282936, 0, 1) 35.41666567325592%,rgba(0, 255, 102.00002431869507, 1) 70.83333134651184%,rgba(0, 178.49995136260986, 255, 1) 100%) ;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;
	-ms-background-clip:text;
	-ms-text-fill-color:transparent;
	width:253px;
	height:73px;
	position:absolute;
	left:386px;
	top:23px;
	font-family:Connie;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e6_35 { 
	width:954px;
	height:75px;
	position:absolute;
	left:35px;
	top:112px;
}
.e3_5 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:954px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:49px;
	border-top-right-radius:49px;
	border-bottom-left-radius:49px;
	border-bottom-right-radius:49px;
}
.e6_20 { 
	width:30px;
	height:21px;
	position:absolute;
	left:48px;
	top:29px;
}
.6_19 { 
	border:4px solid rgba(0, 0, 0, 1);
}
.e6_19 { 
	width:30px;
	height:0px;
	position:absolute;
	left:0px;
	top:21px;
}
.6_18 { 
	border:4px solid rgba(0, 0, 0, 1);
}
.e6_18 { 
	width:30px;
	height:0px;
	position:absolute;
	left:0px;
	top:11px;
}
.6_17 { 
	border:4px solid rgba(0, 0, 0, 1);
}
.e6_17 { 
	width:30px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_34 { 
	width:436px;
	height:414.3906555175781px;
	position:absolute;
	left:65px;
	top:226px;
}
.e6_25 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:436px;
	height:414.3906555175781px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e6_31 { 
	width:397.86590576171875px;
	height:397.86590576171875px;
	position:absolute;
	left:18.999998092651367px;
	top:8px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_26 { 
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:74px;
	position:absolute;
	left:118px;
	top:32px;
	font-family:Arial;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e6_27 { 
	box-shadow:4px 4px 20px rgba(255, 255, 255, 1);
	color:rgba(0, 0, 0, 1);
	width:363px;
	height:114px;
	position:absolute;
	left:37px;
	top:150px;
	font-family:Times New Roman;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e6_33 { 
	width:214.8221435546875px;
	height:72.4548110961914px;
	position:absolute;
	left:111px;
	top:283px;
}
.e6_29 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:214.8221435546875px;
	height:72.4548110961914px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:31.5px;
	border-top-right-radius:31.5px;
	border-bottom-left-radius:31.5px;
	border-bottom-right-radius:31.5px;
}
.6_29 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e6_32 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:30px;
	position:absolute;
	left:28px;
	top:21px;
	font-family:Tienne;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e6_52 { 
	width:480px;
	height:480px;
	position:absolute;
	left:512px;
	top:193px;
}
.e6_53 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:436px;
	height:414.3906555175781px;
	position:absolute;
	left:22px;
	top:33px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e6_63 { 
	width:480px;
	height:480px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:185px;
	border-top-right-radius:185px;
	border-bottom-left-radius:185px;
	border-bottom-right-radius:185px;
	background-image:url(images/icons8_css3_480_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_55 { 
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:61px;
	position:absolute;
	left:166px;
	top:65px;
	font-family:Arial;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e6_56 { 
	box-shadow:4px 4px 20px rgba(255, 255, 255, 1);
	color:rgba(0, 0, 0, 1);
	width:363px;
	height:114px;
	position:absolute;
	left:59px;
	top:183px;
	font-family:Times New Roman;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e6_57 { 
	width:214.8221435546875px;
	height:72.4548110961914px;
	position:absolute;
	left:133px;
	top:316px;
}
.e6_58 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:214.8221435546875px;
	height:72.4548110961914px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:31.5px;
	border-top-right-radius:31.5px;
	border-bottom-left-radius:31.5px;
	border-bottom-right-radius:31.5px;
}
.6_58 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e6_59 { 
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:30px;
	position:absolute;
	left:43px;
	top:21px;
	font-family:Tienne;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e201_2 { 
	width:436px;
	height:414.3906555175781px;
	position:absolute;
	left:65px;
	top:673px;
}
.e201_3 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:436px;
	height:414.3906555175781px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e201_4 { 
	width:397.86590576171875px;
	height:397.86590576171875px;
	position:absolute;
	left:18.999998092651367px;
	top:8px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e201_5 { 
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:74px;
	position:absolute;
	left:118px;
	top:32px;
	font-family:Arial;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e201_38 { 
	box-shadow:4px 4px 20px rgba(255, 255, 255, 1);
	color:rgba(0, 0, 0, 1);
	width:363px;
	height:114px;
	position:absolute;
	left:37px;
	top:150px;
	font-family:Times New Roman;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e201_7 { 
	width:214.8221435546875px;
	height:72.4548110961914px;
	position:absolute;
	left:111px;
	top:283px;
}
.e201_8 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:214.8221435546875px;
	height:72.4548110961914px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:31.5px;
	border-top-right-radius:31.5px;
	border-bottom-left-radius:31.5px;
	border-bottom-right-radius:31.5px;
}
.201_8 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e201_9 { 
	color:rgba(0, 0, 0, 1);
	width:159px;
	height:30px;
	position:absolute;
	left:28px;
	top:21px;
	font-family:Tienne;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e201_26 { 
	width:480px;
	height:480px;
	position:absolute;
	left:512px;
	top:640px;
}
.e201_27 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:436px;
	height:414.3906555175781px;
	position:absolute;
	left:22px;
	top:33px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}
.e201_28 { 
	width:480px;
	height:480px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:185px;
	border-top-right-radius:185px;
	border-bottom-left-radius:185px;
	border-bottom-right-radius:185px;
	background-image:url(images/icons8_css3_480_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e201_29 { 
	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:61px;
	position:absolute;
	left:166px;
	top:65px;
	font-family:Arial;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.e201_39 { 
	box-shadow:4px 4px 20px rgba(255, 255, 255, 1);
	color:rgba(0, 0, 0, 1);
	width:363px;
	height:114px;
	position:absolute;
	left:59px;
	top:183px;
	font-family:Times New Roman;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e201_31 { 
	width:214.8221435546875px;
	height:72.4548110961914px;
	position:absolute;
	left:133px;
	top:316px;
}
.e201_32 { 
	background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:214.8221435546875px;
	height:72.4548110961914px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:31.5px;
	border-top-right-radius:31.5px;
	border-bottom-left-radius:31.5px;
	border-bottom-right-radius:31.5px;
}
.201_32 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e201_33 { 
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:30px;
	position:absolute;
	left:43px;
	top:21px;
	font-family:Tienne;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
